apiVersion: v1
kind: Service
metadata:
  name: simpleforum-api-gateway-svc
spec:
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: simpleforum-api-gateway
  type: LoadBalancer
  loadBalancerIP: 192.168.29.27